.App{
    background-color: whitesmoke;
}
.container{
    padding: 40px !important;
    width: 30% !important;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5); 
}
.loginTitle{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.facebookLogo{
    margin-top: 5%;
    color : rgb(102, 102, 236);
    font-family :Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
}
.loginBtn{
    width: 100%;
}
.forgotLink{
    margin-left: 120px;
}
.createAccountBtn{
    margin-left: 60px;
    width: 70%;
}
/* Second Page css starts */
.header{
    display: flex; 
    padding: 10px !important;
    justify-content: space-between;
    background-color: white;
}
.rightHeader{
    display: flex;
}
.findAccountTitle{
    font-size: 20px;
}
.headerLogo{
    color : rgb(102, 102, 236);
    font-family :Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}
.headerForgotLink,.headerLoginBtn,.headerEmail,.pass{
    margin-left: 30px !important;
}
.headerForgotLink{
    margin-right: 30px !important;
}
.forgotBtns{
    float: right;
}
.email{
    padding: 15px !important;
}